<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body class="bg-zinc-900 text-white flex flex-col justify-center items-center">
    <div class="w-screen h-screen flex justify-center items-center flex-col">

        <h1>here is your camera feed</h1>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
        <img src="../assets/ceiling.jpeg" width="300px" alt="">

    <dotlottie-player src="https://lottie.host/adb54fba-5e20-47e0-b508-7495e9548200/Jlozt1Se0Z.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
</body>
</html>