<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body class="bg-zinc-900 w-screen h-screen flex justify-center items-center">
    <div
      class="flex justify-center items-center text-black flex-col w-screen h-screen p-5 bg-no-repeat bg-cover relative rounded-full bg-scroll m-10"
      style="background-image: url(../assets/back.jpeg)"
    >
      <h1 class="text-[50px] font-semibold hover:animate-pulse">
        This is my homepage om Rajpal
      </h1>
      <p class="text-lg italic line-through">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, aut.
      </p>
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 text-4xlz-20"
      >
        Hello world
      </span>
    </div>
  </body>
</html>
